body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote {
  margin: 0px;
}
ul{
   
    padding: 0px;
    list-style: none;
}
.header-bg{
    background-color: #000000;
}

a {
    text-decoration: none;
    /* hera a cor da div pai */
    color: inherit;
  }

  img {
    max-width: 100%;
    display: block;
    
  }
/* SELECIONAR SÓ OS ITENS QUE TEM SRC E TERMINAM COM .JPG */
  img[src$=".jpg"]{
    border-radius: 4px;
  }
